<!DOCTYPE html>
<html>
<head>
  <title>Cultage</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= yield :page_head %>
</head>

<body>
<%= yield %>
<%= javascript_include_tag 'application' %>
<%= yield :page_body %>
</body>
</html>
